@import url('https://fonts.googleapis.com/css?family=Croissant+One|Dancing+Script|Devonshire|Kaushan+Script|Noto+Serif|Roboto&display=swap');

@font-face {
    font-family: 'embrionic';
    src: url('font/embrionic55.otf') format('otf'),
    url('font/embrionic55swash.otf') format('otf'),
    url('font/embrionic85.otf') format('otf'),
    url('font/embrionic85swash.otf') format('otf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'perfect_font_cc';
    src: url('font/perfect_font_cc.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'PTSerif';
    src: url('font/PTSerif-Bold.ttf') format('truetype'),
    url('font/PTSerif-Bolditalic.ttf') format('truetype'),
    url('font/PTSerif-Italic.ttf') format('truetype'),
    url('font/PTSerif-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
/*variables couleurs pour le header et footer*/
$fond: #579c87;
$lettre: #fdcb46;
/*variables couleurs pour la note enchantée*/
$lettre_note: #3c1218;
$fond_note: #fcdfdb;
$grad1_note: #f04c5f;
$grad2_note: #f6916a;
/*variables couleurs pour le chic a la française*/
$lettre_chic1: #c67412;
$lettre_chic2: #A56799;
$lettre_chic3: #6e4ccc;
$fond-chic: #fff5fe;
/*variables couleurs pour le délice des papilles*/
$delice1: #0228dd;
$delice2: #0670f3;
$delice3: #229df9;
/*variables couleurs pour la palette du goût*/
$palette1: #3e923a;
$palette2: #beff7f;
/*variable couleur pour le shadow*/
$shadow: #ac8ab9;
*
{
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
}
title
{
    display: none;
}
/*mise en forme page d'accueil"*/
@mixin menu_nav {
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 20px $shadow;
    height: 500px;
    width: 350px;
    margin-bottom: 20%;
}
header
{
    .logo
    {
        background-color: $fond;
        font-family: 'embrionic';
        font-size: 3rem;
        color: $lettre;
        width: 100%;
        h1
        {
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
}
.menu
{
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    a
    {
        text-decoration: none;
    }
    &__note
    {
        background-color: $fond_note;
        @include menu_nav;
        .fa-music
        {
            color: $grad2_note;
            font-size: 3rem;
            margin-bottom: 10px;
        }
        h2
        {
            font-family: 'Devonshire';
            font-size: 2rem;
            color: $lettre_note;
        }
        p
        {
            font-family: 'segoe print';
            text-transform: uppercase;
            font-weight: bold;
            color: $lettre_note; 
            font-size: 3rem;
        }
    }
    &__chic
    {
        background-color: $fond-chic;
        @include menu_nav;
        h2
        {
            font-family: 'Croissant One', sans-serif;
            font-size: 1.5rem;
            color: $lettre_chic2;
        }
        p
        {
            font-family: 'Noto Serif', sans-serif;
            color: $lettre_chic1;
            font-size: 3rem;
            font-weight: bold;
        }
    }
    &__delice
    {
        @include menu_nav;
        h2
        {
            font-family: 'Dancing Script', sans-serif;
            font-size: 2rem;
            color: $delice1;
        }
        p
        {
            font-family: 'segoe print', sans-serif;
            color: $delice3;
            font-size: 3rem;
        }
    }
    &__palette
    {
       
        @include menu_nav;
        h2
        {
            font-family: 'Kaushan Script', sans-serif;
            font-size: 2rem;
            color: $palette1;
        }
        p
        {
            font-family: 'Segoe print', sans-serif;
            color: $palette2;
            font-size: 3rem;
        }
    }
}
.next, .foot
{
    background-color: $fond;
    font-family: 'perfect_font_cc';
    font-style: none;
    color: $lettre;
}

.next
{
    display: block;
    border: 1 solid $fond;
    border-radius: 10px;
    width: 40%;
    font-size: 2.5rem;
    margin: 20px 35% 20px 35%;
    p
    {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
}
.foot
{
    font-size: 1.8rem;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    bottom: 0;
    width: 100%;
    a
    {
        text-decoration: none;
        color: $lettre;
        align-items: center;
        margin: 10px 30px 10px 30px;
    }
}
/*mise en forme menu La note enchantée*/
#note
{
    background-color: $fond_note;
}
.titre1
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .fa-music
    {
        font-size: 4rem;
        color: $grad1_note;
    }
    h1
    {
        font-family: 'devonshire';
        color: $lettre_note;
    }
}

