@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Croissant+One|Dancing+Script|Devonshire|Kaushan+Script|Noto+Serif|Roboto&display=swap");
@font-face {
  font-family: 'embrionic';
  src: url("font/embrionic55.otf") format("otf"), url("font/embrionic55swash.otf") format("otf"), url("font/embrionic85.otf") format("otf"), url("font/embrionic85swash.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'perfect_font_cc';
  src: url("font/perfect_font_cc.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif';
  src: url("font/PTSerif-Bold.ttf") format("truetype"), url("font/PTSerif-Bolditalic.ttf") format("truetype"), url("font/PTSerif-Italic.ttf") format("truetype"), url("font/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*variables couleurs pour le header et footer*/
/*variables couleurs pour la note enchantée*/
/*variables couleurs pour le chic a la française*/
/*variables couleurs pour le délice des papilles*/
/*variables couleurs pour la palette du goût*/
/*variable couleur pour le shadow*/
* {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

title {
  display: none;
}

/*mise en forme page d'accueil"*/
header .logo {
  background-color: #579c87;
  font-family: 'embrionic';
  font-size: 3rem;
  color: #fdcb46;
  width: 100%;
}

header .logo h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
}

.menu a {
  text-decoration: none;
}

.menu__note {
  background-color: #fcdfdb;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 20px #ac8ab9;
          box-shadow: 1px 1px 20px #ac8ab9;
  height: 500px;
  width: 350px;
  margin-bottom: 20%;
}

.menu__note .fa-music {
  color: #f6916a;
  font-size: 3rem;
  margin-bottom: 10px;
}

.menu__note h2 {
  font-family: 'Devonshire';
  font-size: 2rem;
  color: #3c1218;
}

.menu__note p {
  font-family: 'segoe print';
  text-transform: uppercase;
  font-weight: bold;
  color: #3c1218;
  font-size: 3rem;
}

.menu__chic {
  background-color: #fff5fe;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 20px #ac8ab9;
          box-shadow: 1px 1px 20px #ac8ab9;
  height: 500px;
  width: 350px;
  margin-bottom: 20%;
}

.menu__chic h2 {
  font-family: 'Croissant One', sans-serif;
  font-size: 1.5rem;
  color: #A56799;
}

.menu__chic p {
  font-family: 'Noto Serif', sans-serif;
  color: #c67412;
  font-size: 3rem;
  font-weight: bold;
}

.menu__delice {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 20px #ac8ab9;
          box-shadow: 1px 1px 20px #ac8ab9;
  height: 500px;
  width: 350px;
  margin-bottom: 20%;
}

.menu__delice h2 {
  font-family: 'Dancing Script', sans-serif;
  font-size: 2rem;
  color: #0228dd;
}

.menu__delice p {
  font-family: 'segoe print', sans-serif;
  color: #229df9;
  font-size: 3rem;
}

.menu__palette {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 20px #ac8ab9;
          box-shadow: 1px 1px 20px #ac8ab9;
  height: 500px;
  width: 350px;
  margin-bottom: 20%;
}

.menu__palette h2 {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 2rem;
  color: #3e923a;
}

.menu__palette p {
  font-family: 'Segoe print', sans-serif;
  color: #beff7f;
  font-size: 3rem;
}

.next, .foot {
  background-color: #579c87;
  font-family: 'perfect_font_cc';
  font-style: none;
  color: #fdcb46;
}

.next {
  display: block;
  border: 1 solid #579c87;
  border-radius: 10px;
  width: 40%;
  font-size: 2.5rem;
  margin: 20px 35% 20px 35%;
}

.next p {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot {
  font-size: 1.8rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  bottom: 0;
  width: 100%;
}

.foot a {
  text-decoration: none;
  color: #fdcb46;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 30px 10px 30px;
}

/*mise en forme menu La note enchantée*/
#note {
  background-color: #fcdfdb;
}

.titre1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titre1 .fa-music {
  font-size: 4rem;
  color: #f04c5f;
}

.titre1 h1 {
  font-family: 'devonshire';
  color: #3c1218;
}
/*# sourceMappingURL=style.css.map */