@import "./utils/_Tipography";
@import "./utils/_variables";
@import "./utils/_mixins";

*
{
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
}
title
{
    display: none;
}

header
{
    .logo
    {
        background-color: $fond;
        font-family: 'embrionic';
        font-size: 3rem;
        color: $lettre;
        width: 100%;
        h1
        {
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
}
#accueil{
    @include responsive_accueil;
}
.menu
{
    display: grid;
    grid-template-columns: 2.5fr 2.5fr;
    grid-gap: 2fr, 2fr;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    a
    {
        text-decoration: none;
    }
    &__note
    {
        background-color: $fond_note1;
        @include menu_nav;
        .fa-music
        {
            font-size: 3rem;
            margin-bottom: 10px;
            @include note_gradient;
        }
        h2
        {
            font-family: 'Devonshire';
            font-size: 2.5rem;
            color: $lettre_note;
        }
        p
        {
            font-family: 'segoe print', 'defonartsregular', sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            color: $lettre_note; 
            font-size: 3rem;
        }
        &__zoom {
            justify-content: center;
            align-items: center;
            transition: transform 400ms;
            opacity: 1;
            &:hover {
                transform: scale(1.2);
                box-shadow: none;
                opacity: 0.6;
            }
        }
    }
    &__chic
    {
        background-color: $fond-chic;
        @include menu_nav;
        h2
        {
        font-family: 'Croissant One', sans-serif;
        font-size: 1.8rem;
        @include chic_gradient;
        }
        p
        {
            font-family: 'Noto Serif', sans-serif;
            color: $lettre_chic1;
            font-size: 3rem;
            font-weight: bold;
        }
        &__zoom {
            justify-content: center;
            align-items: center;
            transition: transform 400ms;
            opacity: 1;
                &:hover
                {
                    transform: scale(1.2);
                    box-shadow: none;
                    opacity: 0.6;
                }
        }
    }
    &__delice
    {
        @include menu_nav;
        h2
        {
            font-family: 'Dancing Script', sans-serif;
            font-size: 1.8rem;
            @include delice_gradient;
            margin-left: 20px;
            margin-right: 10px;
        }
        p
        {
            font-family: 'segoe print', 'defonartsregular', sans-serif;
            color: $delice3;
            font-size: 3rem;
        }
        &__zoom {
            justify-content: center;
            align-items: center;
            transition: transform 400ms;
            opacity: 1;
                &:hover
                {
                    transform: scale(1.2);
                    box-shadow: none;
                    opacity: 0.6;
                }
        }
    }
    &__palette
    {
        @include menu_nav;
        h2
        {
            font-family: 'Kaushan Script', sans-serif;
            font-size: 2.5rem;
            @include palette_gradient;
        }
        p
        {
            font-family: 'segoe print', 'defonartsregular', sans-serif;
            color: $palette2;
            font-size: 3rem;
        }
        &__zoom {
            justify-content: center;
            align-items: center;
            transition: transform 400ms;
            opacity: 1;
                &:hover
                {
                    transform: scale(1.2);
                    box-shadow: none;
                    opacity: 0.6;
                }
        }
    }
}
.next, .foot
{
    background-color: $fond;
    font-family: 'perfect_font_cc';
    color: $lettre;
}
.prochainement
{
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 60px;
    padding: 0;
}
.next
{
    display: block;
    border: 1 solid $fond;
    border-radius: 10px;
    font-size: 2.5rem;
    margin: 20px 35% 20px 35%;
    p
    {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        span {
            animation: bounce 0.35s ease infinite alternate;
        }
        @keyframes bounce{
             from {transform: translateY(0);}
             to   {transform: translateY(-10px);}
        }
    }
}
.foot
{
    font-size: 1.8rem;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    a
    {
        text-decoration: none;
        color: $lettre;
        align-items: center;
        margin: 10px 30px 10px 30px;
        &:hover
        {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
        }

        @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
        }
    }
}
/*mise en forme menu La note enchantée*/
#page__note
{
    background-color: $fond_note1;
}
a {
    text-decoration: none;
    color: $lettre;
}
.titre1
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .fa-music
    {
        font-size: 3.5rem;
        @include note_gradient;
    }
    h2
    {
        font-family: 'devonshire';
        font-size: 3rem;
        color: $lettre_note;
    }
}
.container {
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 2rem;
}
.soustitre {
    
    font-family: 'segoe print', 'defonartsregular', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    @include soustitre($lettre_note);
    img {
        padding: none;
        margin: none;
    }
    h3 {
        @include soulignement($lettre_note);
    }
    &__entrée {
        @include menu;
        margin-left: 10px;
        font-family: 'segoe print', 'defonartsregular', sans-serif;
    }
    &__prix__note {
        font-weight: bold;
        margin-right: 10px;
        font-family: 'segoe print', 'defonartsregular', sans-serif;
    }
    &__plats {
        @include menu;
        color: $lettre_note;
        margin-left: 10px;
        font-family: 'segoe print', 'defonartsregular', sans-serif;
    }
    &__desserts {
        @include menu;
        color: $lettre_note;
        margin-bottom: 20px;
        margin-left: 10px;
        font-family: 'segoe print', 'defonartsregular', sans-serif;
    }
}
.bas_de_page
{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'devonshire';
    margin-bottom: 60px;
    .fa-music {
        @include note_gradient;
        font-size: 2.5em;
        margin-right: 10px;
    }
    h4
    {
        font-size: 2.5em;
        color: $lettre_note;
    }
}
#page_chic {
    .titre2 {
        @include chic_gradient;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 1.5em;
        font-family: 'Croissant one'
    }
    .soustitre1 {
        @include soustitre($lettre_chic1);
        font-size: 1.5rem;
        font-family: 'PTSerif';
        margin-left: 5%;
        margin-right: 5%;
        h3 {
        font-family: 'PTSerif';
        @include soulignement($lettre_chic1);
        }
        &__entrees {
            @include plats($lettre_chic1);
            font-family: 'PTSerif';
        }
        &__plats {
            @include plats($lettre_chic2);
            font-family: 'PTSerif';
        }
        &__desserts {
            @include plats($lettre_chic3);
            font-family: 'PTSerif';
            margin-bottom: 100px;
        }
        &__prix {
            font-weight: bold;
        }
    }
    .soustitre2 {
        @include soustitre($lettre_chic2);
        font-family: 'PTSerif';
        font-size: 1.5rem;
        h3 {
            @include soulignement($lettre_chic2);
        }
    }
    .soustitre3 {
        @include soustitre($lettre_chic3);
        font-family: 'PTSerif';
        font-size: 1.5rem;
        h3 {
            @include soulignement($lettre_chic3);
        }
    }
}
#page_delice {
    .titre-D {
        @include delice_gradient;
        font-family: 'Dancing Script';
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .soustitreD1 {
        @include soustitre(black);
        font-family: 'segoe print', 'defonartsregular', sans-serif;
        justify-content: space-around;
        h3 {
            font-family: 'segoe print', 'defonartsregular', sans-serif;
            @include soulignement($delice1);
        }
        &__plats {
            @include plats(black);
            font-family: 'segoe print', 'defonartsregular', sans-serif;
        }
        &__prix {
            font-weight: bold;
            font-family: 'segoe print', 'defonartsregular', sans-serif;
        }
        &__desserts {
            @include plats(black);
            margin-bottom: 100px;
            font-family: 'segoe print', 'defonartsregular', sans-serif;
        }
        
    }
    .soustitreD2 {
        @include soustitre(black);
        font-family: 'segoe print', 'defonartsregular', sans-serif;
        justify-content: space-around;
        h3 {
            font-family: 'segoe print', 'defonartsregular', sans-serif;
            @include soulignement($delice2);
        }
    }
    .soustitreD3 {
        @include soustitre(black);
        font-family: 'segoe print', 'defonartsregular', sans-serif;
        justify-content: space-around;
        h3 {
            font-family: 'segoe print', 'defonartsregular', sans-serif;
            @include soulignement($delice3);
        }
    }
    .containerD
    {
        margin-bottom: 100px;
    }
}
#page_palette {
    .titreP {
        justify-content: center;
        align-items: center;
        @include palette_gradient;
        h2 {
            font-family: 'Kaushan Script';
            font-size: 3rem;
            justify-content: center;
            align-items: center;
            margin-top: 5%;
            }
        }
    .soustitreP {
        @include soustitre(black);
        font-family: 'segoe print', 'defonartsregular', sans-serif;
        justify-content: space-around;
        h3 {
        font-family: 'segoe print', 'defonartsregular', sans-serif;
        @include soulignement($palette1);
        }
        &__plats {
            @include plats(black);
            font-family: 'segoe print', 'defonartsregular', sans-serif;
        }
        &__prix {
            font-weight: bold;
            font-family: 'segoe print', 'defonartsregular', sans-serif;
        }
        &__desserts {
            @include plats(black);
            margin-bottom: 100px;
            font-family: 'segoe print', 'defonartsregular', sans-serif;
        }
    }
    .containerP
    {
        margin-bottom: 100px;
    }
}