@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Croissant+One|Dancing+Script|Devonshire|Kaushan+Script|Noto+Serif|Roboto&display=swap");
@font-face {
  font-family: 'embrionic';
  src: url("./utils/font/embrionic55.otf") format("otf"), url("./utils/font/embrionic55swash.otf") format("otf"), url("./utils/font/embrionic85.otf") format("otf"), url("./utils/font/embrionic85swash.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'perfect_font_cc';
  src: url("./utils/font/perfect_font_cc.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif';
  src: url("./utils/font/PTSerif-Bold.ttf") format("truetype"), url("./utils/font/PTSerif-Bolditalic.ttf") format("truetype"), url("./utils/font/PTSerif-Italic.ttf") format("truetype"), url("./utils/font/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'defonartsregular';
  src: url("./utils/font/defonarts_bold-webfont.woff2") format("woff2"), url("./utils/font/defonarts_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*variables couleurs pour le header et footer*/
/*variables couleurs pour la note enchantée*/
/*variables couleurs pour le chic a la française*/
/*variables couleurs pour le délice des papilles*/
/*variables couleurs pour la palette du goût*/
/*variable couleur pour le shadow*/
* {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

title {
  display: none;
}

header .logo {
  background-color: #579c87;
  font-family: 'embrionic';
  font-size: 3rem;
  color: #fdcb46;
  width: 100%;
}

header .logo h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 750px) {
  #accueil #accueil header {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #accueil #accueil header h1 {
    font-size: 1.5em;
  }
  #accueil nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
  }
  #accueil nav__note {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #accueil nav__note h2 {
    font-size: 1.5em;
  }
  #accueil .prochainement {
    font-size: 1rem;
  }
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 2.5fr;
      grid-template-columns: 2.5fr 2.5fr;
  grid-gap: 2fr, 2fr;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
}

.menu a {
  text-decoration: none;
}

.menu__note {
  background-color: #fcdfbd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 20px #ac8ab9;
          box-shadow: 1px 1px 20px #ac8ab9;
  height: 500px;
  width: 350px;
  margin-bottom: 20%;
}

.menu__note .fa-music {
  font-size: 3rem;
  margin-bottom: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#f04c5f), to(#f6916a));
  background: linear-gradient(to right, #f04c5f, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__note h2 {
  font-family: 'Devonshire';
  font-size: 2.5rem;
  color: #3c1218;
}

.menu__note p {
  font-family: 'segoe print', 'defonartsregular', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #3c1218;
  font-size: 3rem;
}

.menu__note__zoom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  opacity: 1;
}

.menu__note__zoom:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.6;
}

.menu__chic {
  background-color: #fff5fe;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 20px #ac8ab9;
          box-shadow: 1px 1px 20px #ac8ab9;
  height: 500px;
  width: 350px;
  margin-bottom: 20%;
}

.menu__chic h2 {
  font-family: 'Croissant One', sans-serif;
  font-size: 1.8rem;
  background: -webkit-gradient(linear, left top, right top, from(#c67412), to(#6e4ccc));
  background: linear-gradient(to right, #c67412, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__chic p {
  font-family: 'Noto Serif', sans-serif;
  color: #c67412;
  font-size: 3rem;
  font-weight: bold;
}

.menu__chic__zoom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  opacity: 1;
}

.menu__chic__zoom:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.6;
}

.menu__delice {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 20px #ac8ab9;
          box-shadow: 1px 1px 20px #ac8ab9;
  height: 500px;
  width: 350px;
  margin-bottom: 20%;
}

.menu__delice h2 {
  font-family: 'Dancing Script', sans-serif;
  font-size: 1.8rem;
  background: -webkit-gradient(linear, left top, right top, from(#0228dd), to(#229df9));
  background: linear-gradient(to right, #0228dd, #229df9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
  margin-right: 10px;
}

.menu__delice p {
  font-family: 'segoe print', 'defonartsregular', sans-serif;
  color: #229df9;
  font-size: 3rem;
}

.menu__delice__zoom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  opacity: 1;
}

.menu__delice__zoom:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.6;
}

.menu__palette {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 20px #ac8ab9;
          box-shadow: 1px 1px 20px #ac8ab9;
  height: 500px;
  width: 350px;
  margin-bottom: 20%;
}

.menu__palette h2 {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 2.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#3e923a), to(#beff7f));
  background: linear-gradient(to right, #3e923a, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__palette p {
  font-family: 'segoe print', 'defonartsregular', sans-serif;
  color: #beff7f;
  font-size: 3rem;
}

.menu__palette__zoom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  opacity: 1;
}

.menu__palette__zoom:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.6;
}

.next, .foot {
  background-color: #579c87;
  font-family: 'perfect_font_cc';
  color: #fdcb46;
}

.prochainement {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 60px;
  padding: 0;
}

.next {
  display: block;
  border: 1 solid #579c87;
  border-radius: 10px;
  font-size: 2.5rem;
  margin: 20px 35% 20px 35%;
}

.next p {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next p span {
  -webkit-animation: bounce 0.35s ease infinite alternate;
          animation: bounce 0.35s ease infinite alternate;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.foot {
  font-size: 1.8rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.foot a {
  text-decoration: none;
  color: #fdcb46;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 30px 10px 30px;
}

.foot a:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*mise en forme menu La note enchantée*/
#page__note {
  background-color: #fcdfbd;
}

a {
  text-decoration: none;
  color: #fdcb46;
}

.titre1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.titre1 .fa-music {
  font-size: 3.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#f04c5f), to(#f6916a));
  background: linear-gradient(to right, #f04c5f, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titre1 h2 {
  font-family: 'devonshire';
  font-size: 3rem;
  color: #3c1218;
}

.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 2rem;
}

.soustitre {
  font-family: 'segoe print', 'defonartsregular', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3c1218;
  margin-top: 5%;
  margin-bottom: 5%;
}

.soustitre img {
  padding: none;
  margin: none;
}

.soustitre h3 {
  background: -webkit-gradient(linear, left bottom, left top, from(#3c1218), color-stop(10%, #3c1218), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #3c1218 0%, #3c1218 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  -webkit-transition: background-size .5s;
  transition: background-size .5s;
}

.soustitre h3:hover {
  background-size: 100% 100%;
}

.soustitre__entrée {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'defonartsregular';
  margin-left: 10px;
  font-family: 'segoe print', 'defonartsregular', sans-serif;
}

.soustitre__prix__note {
  font-weight: bold;
  margin-right: 10px;
  font-family: 'segoe print', 'defonartsregular', sans-serif;
}

.soustitre__plats {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'defonartsregular';
  color: #3c1218;
  margin-left: 10px;
  font-family: 'segoe print', 'defonartsregular', sans-serif;
}

.soustitre__desserts {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'defonartsregular';
  color: #3c1218;
  margin-bottom: 20px;
  margin-left: 10px;
  font-family: 'segoe print', 'defonartsregular', sans-serif;
}

.bas_de_page {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'devonshire';
  margin-bottom: 60px;
}

.bas_de_page .fa-music {
  background: -webkit-gradient(linear, left top, right top, from(#f04c5f), to(#f6916a));
  background: linear-gradient(to right, #f04c5f, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
  margin-right: 10px;
}

.bas_de_page h4 {
  font-size: 2.5em;
  color: #3c1218;
}

#page_chic .titre2 {
  background: -webkit-gradient(linear, left top, right top, from(#c67412), to(#6e4ccc));
  background: linear-gradient(to right, #c67412, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1.5em;
  font-family: 'Croissant one';
}

#page_chic .soustitre1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c67412;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.5rem;
  font-family: 'PTSerif';
  margin-left: 5%;
  margin-right: 5%;
}

#page_chic .soustitre1 h3 {
  font-family: 'PTSerif';
  background: -webkit-gradient(linear, left bottom, left top, from(#c67412), color-stop(10%, #c67412), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #c67412 0%, #c67412 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  -webkit-transition: background-size .5s;
  transition: background-size .5s;
}

#page_chic .soustitre1 h3:hover {
  background-size: 100% 100%;
}

#page_chic .soustitre1__entrees {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  color: #c67412;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'PTSerif';
}

#page_chic .soustitre1__plats {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  color: #A56799;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'PTSerif';
}

#page_chic .soustitre1__desserts {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  color: #6e4ccc;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'PTSerif';
  margin-bottom: 100px;
}

#page_chic .soustitre1__prix {
  font-weight: bold;
}

#page_chic .soustitre2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #A56799;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'PTSerif';
  font-size: 1.5rem;
}

#page_chic .soustitre2 h3 {
  background: -webkit-gradient(linear, left bottom, left top, from(#A56799), color-stop(10%, #A56799), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #A56799 0%, #A56799 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  -webkit-transition: background-size .5s;
  transition: background-size .5s;
}

#page_chic .soustitre2 h3:hover {
  background-size: 100% 100%;
}

#page_chic .soustitre3 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6e4ccc;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'PTSerif';
  font-size: 1.5rem;
}

#page_chic .soustitre3 h3 {
  background: -webkit-gradient(linear, left bottom, left top, from(#6e4ccc), color-stop(10%, #6e4ccc), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  -webkit-transition: background-size .5s;
  transition: background-size .5s;
}

#page_chic .soustitre3 h3:hover {
  background-size: 100% 100%;
}

#page_delice .titre-D {
  background: -webkit-gradient(linear, left top, right top, from(#0228dd), to(#229df9));
  background: linear-gradient(to right, #0228dd, #229df9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Dancing Script';
  font-size: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

#page_delice .soustitreD1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'segoe print', 'defonartsregular', sans-serif;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#page_delice .soustitreD1 h3 {
  font-family: 'segoe print', 'defonartsregular', sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#0228dd), color-stop(10%, #0228dd), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #0228dd 0%, #0228dd 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  -webkit-transition: background-size .5s;
  transition: background-size .5s;
}

#page_delice .soustitreD1 h3:hover {
  background-size: 100% 100%;
}

#page_delice .soustitreD1__plats {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'segoe print', 'defonartsregular', sans-serif;
}

#page_delice .soustitreD1__prix {
  font-weight: bold;
  font-family: 'segoe print', 'defonartsregular', sans-serif;
}

#page_delice .soustitreD1__desserts {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100px;
  font-family: 'segoe print', 'defonartsregular', sans-serif;
}

#page_delice .soustitreD2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'segoe print', 'defonartsregular', sans-serif;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#page_delice .soustitreD2 h3 {
  font-family: 'segoe print', 'defonartsregular', sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#0670f3), color-stop(10%, #0670f3), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #0670f3 0%, #0670f3 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  -webkit-transition: background-size .5s;
  transition: background-size .5s;
}

#page_delice .soustitreD2 h3:hover {
  background-size: 100% 100%;
}

#page_delice .soustitreD3 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'segoe print', 'defonartsregular', sans-serif;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#page_delice .soustitreD3 h3 {
  font-family: 'segoe print', 'defonartsregular', sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#229df9), color-stop(10%, #229df9), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #229df9 0%, #229df9 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  -webkit-transition: background-size .5s;
  transition: background-size .5s;
}

#page_delice .soustitreD3 h3:hover {
  background-size: 100% 100%;
}

#page_delice .containerD {
  margin-bottom: 100px;
}

#page_palette .titreP {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#3e923a), to(#beff7f));
  background: linear-gradient(to right, #3e923a, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#page_palette .titreP h2 {
  font-family: 'Kaushan Script';
  font-size: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

#page_palette .soustitreP {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'segoe print', 'defonartsregular', sans-serif;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#page_palette .soustitreP h3 {
  font-family: 'segoe print', 'defonartsregular', sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#3e923a), color-stop(10%, #3e923a), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #3e923a 0%, #3e923a 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  -webkit-transition: background-size .5s;
  transition: background-size .5s;
}

#page_palette .soustitreP h3:hover {
  background-size: 100% 100%;
}

#page_palette .soustitreP__plats {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'segoe print', 'defonartsregular', sans-serif;
}

#page_palette .soustitreP__prix {
  font-weight: bold;
  font-family: 'segoe print', 'defonartsregular', sans-serif;
}

#page_palette .soustitreP__desserts {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100px;
  font-family: 'segoe print', 'defonartsregular', sans-serif;
}

#page_palette .containerP {
  margin-bottom: 100px;
}
/*# sourceMappingURL=style.css.map */