@import "./utils/_Tipography";
@import "./utils/_variables";
@import "./utils/_mixins";

*
{
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
}
title
{
    display: none;
}

header
{
    .logo
    {
        background-color: $fond;
        font-family: 'embrionic';
        font-size: 3rem;
        color: $lettre;
        width: 100%;
        h1
        {
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
}
.menu
{
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    a
    {
        text-decoration: none;
    }
    &__note
    {
        background-color: $fond_note1;
        @include menu_nav;
        transition: transform 400ms;
        opacity: 1;
        &:hover
        {
            transform: scale(1.2);
            box-shadow: none;
            opacity: 0.5;
            background-color: -radial-gradient(center, transparent,$fond_note1);
        }
        .fa-music
        {
            font-size: 3rem;
            margin-bottom: 10px;
            background-clip: linear-gradient(left, $grad1_note, $grad2_note);
            background-clip: linear-gradient(left, $grad1_note, $grad2_note);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h2
        {
            font-family: 'Devonshire';
            font-size: 2.5rem;
            color: $lettre_note;
        }
        p
        {
            font-family: 'segoe print';
            text-transform: uppercase;
            font-weight: bold;
            color: $lettre_note; 
            font-size: 3rem;
        }
    }
    &__chic
    {
        background-color: $fond-chic;
        @include menu_nav;
        transition: transform 400ms;
        opacity: 1;
        &:hover
        {
            transform: scale(1.2);
            box-shadow: none;
            opacity: 0.5;
        }
        h2
        {
            font-family: 'Croissant One', sans-serif;
            font-size: 1.8rem;
            background: -webkit-linear-gradient(left, $lettre_chic1, $lettre_chic3);
            background: linear-gradient(left, $lettre_chic1, $lettre_chic3);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p
        {
            font-family: 'Noto Serif', sans-serif;
            color: $lettre_chic1;
            font-size: 3rem;
            font-weight: bold;
        }
    }
    &__delice
    {
        @include menu_nav;
        transition: transform 400ms;
        opacity: 1;
        &:hover
        {
            transform: scale(1.2);
            box-shadow: none;
            opacity: 0.5;
        }
        h2
        {
            font-family: 'Dancing Script', sans-serif;
            font-size: 1.8rem;
            background: -webkit-linear-gradient(left, $delice1, $delice3);
            background: linear-gradient(left, $delice1, $delice3);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-left: 20px;
            margin-right: 10px;
        }
        p
        {
            font-family: 'segoe print', sans-serif;
            color: $delice3;
            font-size: 3rem;
        }
    }
    &__palette
    {
        @include menu_nav;
        transition: transform 400ms;
        opacity: 1;
        &:hover
        {
            transform: scale(1.2);
            box-shadow: none;
            opacity: 0.5;
        }
        h2
        {
            font-family: 'Kaushan Script', sans-serif;
            font-size: 2.5rem;
            background: -webkit-linear-gradient(left, $palette1, $palette2);
            background: linear-gradient(left, $palette1, $palette2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p
        {
            font-family: 'Segoe print', sans-serif;
            color: $palette2;
            font-size: 3rem;
        }
    }
}
.next, .foot
{
    background-color: $fond;
    font-family: 'perfect_font_cc';
    font-style: none;
    color: $lettre;
}

.next
{
    display: block;
    border: 1 solid $fond;
    border-radius: 10px;
    width: 40%;
    font-size: 2.5rem;
    margin: 20px 35% 20px 35%;
    p
    {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        span {
            animation: bounce 0.35s ease infinite alternate;
        }
        @keyframes bounce{
             from {transform: translateY(0);}
             to   {transform: translateY(-10px);}
        }
    }
}
.foot
{
    font-size: 1.8rem;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    bottom: 0;
    width: 100%;
    a
    {
        text-decoration: none;
        color: $lettre;
        align-items: center;
        margin: 10px 30px 10px 30px;
        &:hover
        {
        /* Start the shake animation and make the animation last for 0.5 seconds */
        animation: shake 0.5s;

        /* When the animation is finished, start again */
         animation-iteration-count: infinite;
        }

        @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
        }
    }
}
/*mise en forme menu La note enchantée*/
#note
{
    background-color: $fond_note1;
}
.titre1
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .fa-music
    {
        font-size: 4rem;
        color: $grad1_note;
    }
    h1
    {
        font-family: 'devonshire';
        color: $lettre_note;
    }
}

