body {
    padding: 0;
    margin: 0;
}
.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $fond;
    width: 100%;
    font-family: $logo_txt;
    color: $lettre;
    @media screen and (max-width: 900px) {
        font-size: 1.5em;
    }
    @media screen and (min-width: 901px) {
        font-size: 2.5em;
    }
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    @media screen and (min-width: 901px) {
        display: grid;
        grid-template-columns: 30% 30%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        align-items: center;
        justify-content: center;
        &__note {
            align-self: center;
            justify-self: center;
        }
        &__chic {
            align-self: center;
            justify-self: center;
        }
        &__delice {
            align-self: center;
            justify-self: center;
        }
        &__palette {
            align-self: center;
            justify-self: center;
        }
    }
    &__note {
        text-decoration: none;
        @include nav-menu;
        background-color: $fond_note;
        overflow: hidden;
        .fa-music {
            @include note-gradient;
            font-size: 3em;
            margin-top: 10px;
        }
        h2 {
            font-family: $note_titre;
            font-size: 3em;
            color: $lettre_note;
        }
        p {
            text-transform: uppercase;
            font-family: 'segoe print', 'defonartsregular', sans-serif;
            color: $lettre_note;
            font-size: 2.5em;
            font-weight: bold;
        }
        &__zoom {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: transform 400ms;
            &:hover {
                transform: scale(1.3);
                box-shadow: none;
                opacity: 0.5;
            }
        }
    }
    &__chic {
        text-decoration: none;
        @include nav-menu;
        background-color: $fond-chic;
        overflow: hidden;
        h2 {
            font-family: $chic_titre;
            font-size: 1.8em;
            @include chic-gradient;
        }
        p {
            color: $lettre_chic1;
            font-size: 3.5em;
        }
    }
    &__delice {
        text-decoration: none;
        background-color: $fond_delice;
        overflow: hidden;
        @include nav-menu;
        h2 {
            font-family: $delice_titre;
            font-size: 2em;
            padding: 5px;
            @include delice-gradient;

        }
        p {
            font-family: 'segoe print', 'defonartsregular', sans-serif;
            color: $delice3;
            font-size: 3em;
        }
    }
    &__palette {
        text-decoration: none;
        @include nav-menu;
        overflow: hidden;
        h2 {
            font-family: $palette_titre;
            font-size: 2em;
            padding: 5px;
            @include palette-gradient;

        }
        p {
            font-family: 'segoe print', 'defonartsregular', sans-serif;
            color: $palette1;
            font-size: 3em;
        }
    }
}
.next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 30px;
    padding: 0;
}
.prochainement {
    background-color: $fond;
    color: $lettre;
    font-family: $footer_txt;
    font-size: 1.5em;
    border: 1px solid $fond;
    border-radius: 10px;
    margin-bottom: 60px;
    p {
        display: inline-block;
        flex-flow:
        row nowrap;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
        transition: transform 200ms;
        .dot1 .dot2 .dot3 {
            animation: bounce 0.35s ease infinite alternate;
            margin: 0;
            padding: 0;
            @keyframes bounce{
                from {transform: translateY(0);}
                to   {transform: translateY(-20px);}
            }
        } 
    }
}
.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: $fond;
    font-size: 1.3em;
    a {
        @include shake;
        text-decoration: none;
        color: $lettre;
        font-family: $footer_txt;
        .foot__mention {
            margin-left: 10px;
            margin-top: 10px;
        }
        .mail {
            margin-right: 10px;
            margin-top: 10px;
        }
    }
}