@mixin menu_nav {
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 20px $shadow;
    height: 500px;
    width: 350px;
    margin-bottom: 20%;
}
@mixin note_gradient {
    background: -webkit-linear-gradient(to right, $grad1_note, $grad2_note);
    background: linear-gradient(to right, $grad1_note, $grad2_note);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin chic-gradient {
    background: -webkit-linear-gradient(to right, $lettre_chic1, $lettre_chic3);
    background: linear-gradient(to right, $lettre_chic1, $lettre_chic3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin delice_gradient {
    background: -webkit-linear-gradient(to right, $delice1, $delice3);
    background: linear-gradient(to right, $delice1, $delice3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin palette_gradient {
    background: -webkit-linear-gradient(to right, $palette1, $palette2);
    background: linear-gradient(to right, $palette1, $palette2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin soustitre($colour){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $colour;
    margin-top: 5%;
    margin-bottom: 5%;
}
@mixin menu {
    flex-direction: row;
    justify-content: space-between;
    font-family: 'defonartsregular';
}
@mixin plats($colour){
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    color: $colour;
    margin-left: 10%;
    margin-right: 10%;
}
@mixin soulignement($colour){
    background: linear-gradient(to top, ($colour) 0%, ($colour) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
      
    &:hover {
        background-size: 100% 100%;
      }
}
@mixin responsive_accueil {
    @media screen and (max-width: 750px) {
        #accueil{
            header{
                width: 100%;
                padding: 0;
                margin: 0;
                h1{
                    font-size: 1.5em;
                }
            }
        }
        nav {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
            &__note{
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
                h2{
                    font-size: 1.5em;
                }
            }
        }
        .prochainement{
            font-size: 1rem;
        }
    }
}