/*mise en forme page d'accueil"*/
@mixin menu_nav {
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 20px $shadow;
    height: 500px;
    width: 350px;
    margin-bottom: 20%;
}
@mixin note_gradient {
    background: -webkit-linear-gradient(left, $grad1_note, $grad2_note);
            background: linear-gradient(left, $grad1_note, $grad2_note);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}