@import "Tipography";
@import "variables";
@import "mixins";

.page-note {
    background-color: $fond_note;
    margin-left: 10px;
    margin-right: 10px;
    @media screen and (min-width: 901px) {
        margin-left: 20px;
        margin-right: 20px;
    }
    &__titre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .fa-music {
            @include note-gradient;
            margin-top: 20px;
            font-size: 2em;
        }
        h2 {
            font-family: $note_titre;
            color: $lettre_note;
            font-size: 2.5em;
        }
    }
    &__soustitre {
        display: flex;
        
        @media screen and (max-width: 900px) {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        @media screen and (min-width: 901px) {
            flex-direction: row;
            justify-content: space-around;
        }
        h3 {
            font-family: 'segoe print', 'defonartsregular', sans-serif;
            color: $lettre_note;
            font-size: 1.5em;
            @include soulignement($lettre_note);
        }
    }
    &__table {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: row;   
        }   
    }
    .plats {
        list-style: none;
        font-family: 'segoe print', 'defonartsregular', sans-serif;
        color: $lettre_note;
        @include grille-menu4;
    }
    .plats1 {
        list-style: none;
        font-family: 'segoe print', 'defonartsregular', sans-serif;
        color: $lettre_note;
        @include grille-menu3;
    }
}
.bas_de_page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 80px;
    .fa-music {
        @include note-gradient;
        font-size: 2em;
        margin-right: 10px;
    }
    h4 {
        font-family: $note_titre;
        color: $lettre_note;
        font-size: 2em;
    }
}