/*variables couleurs pour le header et footer*/
$fond: #579c87;
$lettre: #fdcb46;
/*variables couleurs pour la note enchantée*/
$lettre_note: #3c1218;
$fond_note1: #fcdfbd;
$fond_note2: #fcdfbd7a;
$grad1_note: #f04c5f;
$grad2_note: #f6916a;
/*variables couleurs pour le chic a la française*/
$lettre_chic1: #c67412;
$lettre_chic2: #A56799;
$lettre_chic3: #6e4ccc;
$fond-chic: #fff5fe;
$font-chic-txt: 'PTSerif';
/*variables couleurs pour le délice des papilles*/
$delice1: #0228dd;
$delice2: #0670f3;
$delice3: #229df9;
/*variables couleurs pour la palette du goût*/
$palette1: #3e923a;
$palette2: #beff7f;
/*variable couleur pour le shadow*/
$shadow: #ac8ab9;