/*variables pour le header et footer*/
$fond: #579c87;
$lettre: #fdcb46;
$logo_txt: 'embrionic';
$footer_txt: 'perfect_font_cc';
/*variables pour la note enchantée*/
$lettre_note: #3c1218;
$fond_note: #fcdfdb;
$grad1_note: #f04c5f;
$grad2_note: #f6916a;
$note_titre: 'Devonshire';
/*variables pour le chic a la française*/
$lettre_chic1: #c67412;
$lettre_chic2: #A56799;
$lettre_chic3: #6e4ccc;
$fond-chic: #ffeffe;
$chic_titre: 'Croissant One';
$chic_txt: 'PTSerif';
/*variables pour le délice des papilles*/
$delice1: #0228dd;
$delice2: #0670f3;
$delice3: #229df9;
$delice_titre: 'Dancing Script';
$fond_delice: #edefef;
/*variables pour la palette du goût*/
$palette1: #3e923a;
$palette2: #beff7f;
$palette_titre: 'Kaushan Script';
/*variable couleur pour le shadow*/
$shadow: #ac8ab9;